.leftBar {
  background-image: url("/images/home.jpg");
  color: #fcffeb;
  min-height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Quicksand;
  text-align: left;
  padding-left: 5%;
}

.header {
  font-size: calc(12px + 7vw);
}

.subheader {
  font-size: calc(12px + 3vw);
}

.fontForm {
  color: #1b2f33;
}

.row {
  border-bottom: 2px solid white;
}

.Home {
  background-color: #f4efee;
  margin: 0;
  padding: 0;
}

.Home-btn {
  background-color: #1b2f33;
  border: none;
  color: white;
}

.Home-btn:hover {
  background-color: #e7eef1;
  color: #1b2f33;
  border: none;
}
