.card-img-top {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}

.tasksprofile {
  height: 50vw;
}

.profile-pic {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.notasks {
  margin: auto 35%;
}

@media (max-width: 720px) {
  .profile,
  .container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  body {
    padding: 0;
  }
}
