<h2 className
="text-center mt-4 mb-4">Welcome to your profile, {{user.username}}</h2>


<section className
="user-info p-3 mb-5 light-green">
  <div className
  ="row text-center">
    <div className
    ="col-2"></div>
    <div className
    ="col-8">
      <img src={{user.photo}} className
      ="img-fluid rounded-circle profile-pic">
    </div>
    <div className
    ="col-2 px-0">
      <form action="/profile/{{user._id}}/edit" method="get" className
      ="text-right">
        <button className
        ="btn light-green edit-button pt-0"><img src="/images/gear_icon.png" className
        ="img-fluid"></button>
      </form>
    </div>
  </div>
</section>