.blue {
  margin: 0;
  background-color: #e7eef1;
  color: #1b2f33;
  border-bottom: 2px solid white;

  font-size: calc(12px + 1vh);
}

nav img {
  height: 7vh;
  min-height: 40px;
}

.Navbar-btn {
  background-color: #1b2f33;
  border: none;
  color: white;
}

.Navbar-btn:hover {
  background-color: #e7eef1;
  color: #1b2f33;
  border: none;
}
